<div class="contents row">
  <div class="success">
    <h3>
      削除が完了しました。
    </h3>
    <span>3秒後に自動的にジャンプします。</span>
    <script>
      setTimeout('delayedRedirect()', 3000)
    </script>
  </div>
</div>