<div class="contents row">
  <div class="success">
    <h3>
      Fitbitを登録しました。
    </h3>
    <span>Fitbitアプリをバックグラウンドで起動させておいてください</span><br>
    <span>3秒後に自動的にジャンプします</span>
    <script>
      setTimeout('delayedRedirect()', 3000)
    </script>
  </div>
</div>